<p>
    My name is Matthias Reuter and I have been a professional web developer for
    more than ten years. Currently I work for <a href="https://inovex.de">inovex</a>
    in Karlsruhe, Germany. I sometimes give talks (e.g. at
    <a href="https://www.enterjs.de/abstracts#das-frontend-ist-ja-dann-trivial-microservices-und-web-frontends">enterJS</a>,
    <a href="http://www.devfestka.de/programm">DevFest Karlsruhe</a> and KarlsruheJS), trainings and workshops.
</p>
<p>
    I used to write technical blog posts in the past but quit some years ago. I
    started again by re-publishing some of my old posts and finally the first
    new one.
</p>
<p>
    If you like, you can <a href="https://twitter.com/gweax">follow me on twitter</a>.
</p>