<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/blog.css">
</head>

<body>
    <header>
        {{> header }}
    </header>

    <main class="article">
        <h1 class="article__headline">{{ title }}</h1>
        <p class="article__meta">
            Written on {{ prettyDate }} by {{ author }}
        </p>

        {{#originalPublishUrl}}
        <p class="article__meta">
            This post was originally published at <a href="{{{ originalPublishUrl }}}">{{ originalPublishText }}</a> {{ originalPublishNote }}
        </p>
        {{/originalPublishUrl}}

        <div class="content">
            {{{ contents }}}
        </div>
    </main>

    <footer class="bio bio--footer">
        {{> author }}
    </footer>
</body>

</html>