<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gweax</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/blog.css">
</head>

<body>
    <header>
        {{> header }}
    </header>

    {{^pagination.index}}
    <aside class="bio bio--speech-bubble">
        {{> author }}
    </aside>
    {{/pagination.index}}

    <main>
        {{#pagination.files}}
        <article class="teaser">
            <h1 class="teaser__headline"><a href="/{{{ path }}}/" class="teaser__headline-link">{{title}}</a></h1>
            <p class="teaser__meta">Written on {{ prettyDate }}</p>

            <div class="content">
                {{{ excerpt }}}

                <a href="/{{{ path }}}/" class="teaser__more-link">read full article</a>
            </div>            

        </article>
        {{/pagination.files}}
    </main>

    <nav class="navigation">
        {{#pagination.previous}}
        <a href="/{{{ pagination.previous.path }}}" class="navigation__button navigation__button--newer">Newer</a>
        {{/pagination.previous}}
        {{#pagination.next}}
        <a href="/{{{ pagination.next.path }}}" class="navigation__button navigation__button--older">Older</a>
        {{/pagination.next}}
    </nav>
</body>

</html>